.ipynb_checkpoints/
env/**
**/__pycache__/**
**/.mypy_cache/**
.vscode/**
*.sublime-project
*.sublime-workspace
*.egg-info
*.pyc
mongo_shell.sh
.venv/
**/node_modules/**
**/.cache/**
**/dist/**
.DS_Store
local_data/
*.ipynb.swp
.coverage
crypto_data/*
train_graphs/
train_jsons/
train_histograms/
.~lock*
# backtest_aggregated.csv
*~$*.xlsx
/venv
